out
.idea
.gradle
build
src/main/groovy/Drivers
.log
.html
.iml
.css
.js
.png
test-output
reports/*
src/main/groovy/Log4j/*
src/test/resources/testng.xml
test.iml
debug.log
reports/
src/main/groovy/Log4j/
src/main/java/
src/test/java/
